body {
  font-family: Futura;
  color: #333333;
}

.quizName {
  color: #797979;
  font-size: 15px;
}

.picAnswerBoxSelected {
  width: 180px;
  height: auto;
  float: left;
  padding: 9px;
  margin: 5px;
  cursor: pointer;
  background-color: #8ac5ff;
  border: 1px solid #d8d8d8
}

.picAnswerBox {
  width: 180px;
  height: auto;
  float: left;
  padding: 9px;
  margin: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 1px solid #d8d8d8
}

.notSelected {
  opacity: 0.6;
}

.picAnswerBox:hover {
  background-color: #fff195;
}

.answerImage {
  width: 180px;
}

.picQuestion {
  width: 100%;
  overflow: auto;
  margin: 20px 0 40px 0;
}


.questionTitle {
  width: 100%;
  height: auto;
  font-size: 50px;
}

.questionTitleImage {
  width: 620px;
  margin: 0 5px 0 5px;
}

.checkboxWrap {
  margin: 10px 0 0 0;
}

.checkbox {
  width: 29px;
}
.checkbox::before {
  font-family: FontAwesome;
  font-size: 22px;
  line-height: 21px;
  color: #3d3d3d;
  margin: 0 10px 0 0
  display: inline-block;
  content: "\f096";
}

.checkedbox::before {
  font-family: FontAwesome;
  font-size: 22px;
  line-height: 21px;
  color: #3d3d3d;
  margin: 0 10px 0 0
  display: inline-block;
  content: "\f046";
}

.quiz {
  width: 630px;
  margin: 0 auto 50px auto;
}

.quizTitle {
  font-size: 36px;
  font-weight: 600;
}

.quizSubtitle {
  font-size: 17px;
  font-weight: 10;
  margin: 10px 0 0 0;
  line-height: 23px;
  color: #797979;
}

.titleWrapper {
  padding: 5px;
}

.resultWrapper {
  height: auto;
  border: 1px solid #d8d8d8;
  padding: 20px;
  margin: 5px 0 5px 0;
}

.result {
  margin: 10px 0 10px 0;
  font-size: 30px;
}

.resultText {
  color: #797979;
  font-size: 15px;
  margin: 10px 0 0 0;
}

.resultImage {
  margin: 10px 0 0 0;
  width: 575px;
}

.details {
  margin: 10px 0 0 0;
  color: #797979;
  line-height: 25px;
}

.twitter-share {
  text-decoration: none;
  color: #333333;
}
.tweet {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 0 10px;
}

.facebook-icon {
  margin: 0 0 0 5px;
  cursor: pointer;
}

.quizCompleted {
  pointer-events: none;
}

.credits {
  color: #797979;
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 3px;
}

.credits a {
  color: #797979;
  text-decoration: none;
}
